.user-table {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  background: white;

  h2 {
    width: 100%;
    margin-left: 24px;
  }

  .table {
    background: #fff;
    position: fixed;
    bottom: 0;
    height: 50px;
    box-shadow: none;
    border-top: 1px rgba(128, 128, 128, 0.5) solid;
  }
}

